# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite database & instance folders
instance/
backend/instance/
*.sqlite3

# 靜態檔案（如果不想推上 GitHub）
static/
backend/static/
